<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Target Practice</title>

    <style>
        * { padding: 0; margin: 0; }
        canvas { background: #000000; display: block; margin: 0; padding: 0; }

    </style>
</head>
<body>

<canvas id="myCanvas" width="480" height="320"
        style="background: url('./Textures/cave.png')">
</canvas>



<script>
    // JavaScript code goes here
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");

    // X and Y coordinate of shapes.
    var x;
    var y;

    // Print statement for testing purposes.
    //console.log("x: " + x + " y: " + y);
    var dx = 2;
    var dy = -2;

    // Keep track of game score to add to player
    var gameScore = 0;
    var isWinner;

    // Dice roll difficulty.
    var diceRoll = Math.floor(Math.random() * 6) + 1;

    // Create an array of shapes.
    var shapeCount = 1 * diceRoll; // Difficulty of shape spawns.
    var goblins = new Array(shapeCount);

    var froggeCount = shapeCount%3
    var frogges = new Array(froggeCount);

    for(var c = 0; c < shapeCount; c++) { // Store goblins in 2D array.
        var goblinX = Math.floor(Math.random() * ((canvas.width - 50) - 50 + 1) + 50);
        var goblinY = Math.floor(Math.random() * ((canvas.height - 50) - 50 + 1) + 50);
        goblins[c] = {goblinX, goblinY, isHit: false};
    }

    for(var c = 0; c < shapeCount; c++) { // Store frogges in 2D array.
        var froggeX = Math.floor(Math.random() * ((canvas.width - 50) - 50 + 1) + 50);
        var froggeY = Math.floor(Math.random() * ((canvas.height - 50) - 50 + 1) + 50);
        frogges[c] = {froggeX, froggeY, isHit: false};
    }

    var numTargets = shapeCount;
    var numTargetsClicked = 0;

    for(var c = 0; c < shapeCount; c++) { // Store bricks in 2D array.
        var goblinX = Math.floor(Math.random() * ((canvas.width - 50) - 50 + 1) + 50);
        var goblinY = Math.floor(Math.random() * ((canvas.height - 50) - 50 + 1) + 50);
        goblins[c] = {goblinX, goblinY, isHit: false};
    }

    // Texture images.
    var brickTexture = new Image();
    brickTexture.src = 'Textures/Brick2.png';

    var goblinHeadImage = new Image();
    goblinHeadImage.src = './Textures/goblin_idle_anim_f0.png';
    var froggeImage = new Image();
    froggeImage.src = './Textures/cutefrog.png';

    function drawShapes() {
        for (let i = 0; i < goblins.length; i++) {
            // goblinX = Math.floor(Math.random() * canvas.width);
            // goblinY = Math.floor(Math.random() * (canvas.height - 50 + 1) + 50);
            drawGoblin();
            drawFrogge();
        }
    }

    function drawGoblin() {
        for(var c = 0; c < shapeCount; c++) {
            if (goblins[c].isHit == false){ // Check if current element in target list has already been clicked
                ctx.beginPath();
                //ctx.rect(goblins[c].goblinX, goblins[c].goblinY, 25, 25);
                ctx.drawImage(goblinHeadImage, goblins[c].goblinX, goblins[c].goblinY, 32, 32);
                // ctx.strokeStyle = "#000000";
                // ctx.lineWidth = 2.0;
                // ctx.fillStyle = "#00FF00";
                // ctx.fill();
                // ctx.stroke();
                ctx.closePath();
            }
        }
    }

    function drawFrogge() {
        for(var c = 0; c < froggeCount; c++) {
            if (frogges[c].isHit == false){ // Check if current element in target list has already been clicked
                ctx.beginPath();
                ctx.drawImage(froggeImage, frogges[c].froggeX, frogges[c].froggeY, 32, 32);
                ctx.closePath();
            }
        }
    }


    function drawText() {
        ctx.font = "16px Arial";
        ctx.fillStyle = "#FFFFFF";
        ctx.fillText("Slay all of the Goblins", 8, 20);
    }

    function drawTimer() {
        var timeLeft = 10; // Set seconds
        let countDown = setInterval(function() {
            ctx.clearRect(0, 0, canvas.width, canvas.height); // Added to refresh canvas.
            // Check if we reached 0.
            if (timeLeft <= 0) {
                alert("Time's up!");
                isWinner = false;
                document.location.reload(); // reload the page
                clearInterval(countDown);
            }
            else { // Less than 10,
                ctx.beginPath();
                //ctx.clearRect(200, 0, 90, 24);

                drawShapes();
                drawText();
                drawDifficulty();

                // Draw timer.
                ctx.font = "16px Arial";
                ctx.fillStyle = "#FFFFFF";
                ctx.strokeStyle = "#000000";
                ctx.fillText("Time left: " + timeLeft, 200, 20);
                ctx.closePath();
            }
            timeLeft -= 1;
        }, 1000);
    }

    function drawDifficulty() {
        ctx.font = "16px Arial";
        ctx.fillStyle = "#FFFFFF";
        ctx.fillText("Difficulty: " + diceRoll, canvas.width - 100, 20);
    }

    function draw() {
        // Clear canvas after every frame
        // ctx.clearRect(0, 0, canvas.width, canvas.height);

        // Draw everything

        drawShapes();
        drawText();
        drawTimer();
        drawDifficulty();

    }
    // Event listeners for paddle movement.
    document.addEventListener('click', printMousePos, true);
    function printMousePos(e){
        // Variables for mouse coordinates
        let cursorX = e.pageX;
        let cursorY= e.pageY;

        // Print coordinates for testing purposes.
        //console.log( "pageX: " + cursorX +",pageY: " + cursorY );
        //console.log("X: " + x + " Y: " + y);

        // Check if clicked within target area
        for (let i = 0; i < goblins.length; i++) {
            if (Math.abs(frogges[i].froggeX - cursorX) <= 18 && Math.abs(frogges[i].froggeY - cursorY) <= 18){
                isWinner = true;
                alert("Not the poor frogge! = (");
                document.location.reload();
            }
            if (Math.abs(goblins[i].goblinX - cursorX) <= 18 && Math.abs(goblins[i].goblinY - cursorY) <= 18) {
                gameScore += 5;
                numTargetsClicked += 1;
                goblins[i].isHit = true;
                goblins[i].goblinX = 1800;  // Temp way of removing the target
                if (numTargetsClicked == numTargets){
                    alert("You won!");
                    isWinner = true;
                    document.location.reload(); // reload the page
                }
            }
        }
    }

    // Draw the canvas and all the shapes within.
    draw();

</script>

</body>
</html>